.img-page{
    background-image: url('https://picsum.photos/1900/1200?image=998&blur');
}

.signin-container{
    height: 600px;
    width: 700px;
    margin-top: 100px;
    position: relative;
}

.signin-container .signin-card {
    height: 100%;
    background: linear-gradient(135deg, var(--primary-color), 50%, #fff 50%);
    /* background-color: var(--primary-color) !important; */
    
}

.signin-btn{
    margin-top: 23px;
}


.signin-form{
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}
.logo-public-page{
    height: 40px;
    /* margin: 0 auto; */
    /* width: 100%;  */
}

.create-acc-btn:hover {
    background: var(--primary-color-hover) !important;
    cursor: pointer;
}

/** Form signin divider between google/fb login and account form */
.form-divider{
    margin-top: 20px;
    margin-bottom: 70px;
    /* margin: 40px 0; */
    border: none;
    background: var(--primary-color);
    height: 7px;
    width: 40%;
}
